body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.main{
  display: flex;
  flex-direction: row;
  gap: 40px;
  transition: transform 0.2s ease;
  align-items: center;
}

.main-header {
  background-color: #111;    
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: center;     
  align-items: center;
  position: relative;          
}


.main-header h1 {
  margin: 0;
  font-size: 40px;
}

.header-btn {
  position: absolute;
  right: 20px;                  
  padding: 8px 15px;
  background: #412a50;
  box-shadow: 0 0 10px #00F0FF;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.header-btn:hover {
  background: #451b33;
  transition: 0.5s ease-in;
  box-shadow: 0 0 10px #bfbfbf;
}

.center-box {
  height: 100vh;                
  display: flex;
  justify-content: center;      
  align-items: center;          
  background: #0F0F0F;          
}

.center-input {
  width: 300px;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #1A1A1A;
  color: #00F0FF;               
  box-shadow: 0 0 10px #00F0FF; 
}
.center-input::placeholder {
  color: #00aabb;
}

.result-details{
    color: white;
}
::selection {
    color: #fff;
    background: #007acc;
}
.wrapper {
    width: 700px;
    padding: 35px;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.05);
}
.wrapper .input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
}
.wrapper .content-box {
    padding: 13px 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px #00F0FF; 
}
.content-box .content {
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; 
}
.content button {
    outline: none;
    border: none;
    width: 105px;
    color: #00aabb;
    padding: 8px 0;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid #00F0FF;
    background: none;
    transition: transform 0.2s ease;
}
.content button:active {
    transform: scale(0.89);
}
.content button:hover {
  background: #00f0ff;
  box-shadow: 0 0 10px #bfbfbf;
  color: #111; 
  transition: 0.5s ease-in;
}
.content .result-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 140px);
    justify-content: space-between;
}
.result-details li {
    display: flex;
    height: 20px;
    list-style: none;
    position: relative;
    align-items: center;
}
.result-details li:not(:first-child) {
    padding-left: 22px;
    border-left: 2px solid #bfbfbf;
}
.result-details li p {
    font-size: 13px;
}
.result-details li span {
    display: block;
    font-size: 13px;
    margin-left: 10px;
}
li span b {
    font-weight: 500;
}
li:not(:first-child) span {
    font-weight: 500;
}
.box{
  color: #bfbfbf;
}
